<<<<<<< HEAD

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f6;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Apenas para fins de demonstração */
}


body h1{
    align-items: center;
}

@media screen and (min-width:  12.5em) {
    
    body{
        font-size: 10px;
        height: 800px; /* Apenas para fins de demonstração */
    }
    
=======

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f6;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Apenas para fins de demonstração */
}


body h1{
    align-items: center;
}

@media screen and (min-width:  12.5em) {
    
    body{
        font-size: 10px;
        height: 800px; /* Apenas para fins de demonstração */
    }
    
>>>>>>> 6abbea53e3d68688daafcdd33a6a0e2090229d60
}